
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-size: min(16px, 3.6vw);
  background-color: black;
}

.ir {
  @supports (mask-image: url('')) or (-webkit-mask-image: url('')) {
    mask-repeat: no-repeat;
    mask-size: contain;
    user-select: none;
    background-color: currentColor;
  }
}

.ringvanrittau{
  animation: scale-down 60s cubic-bezier(0.3, 0.7, 0.1, 1) forwards;
  @supports (mask-image: url('')) or (-webkit-mask-image: url('')) {
    mask-image: url('./../img/ringvanrittau.svg');
  }
  width: 13.31rem;
  height: 1.25rem;
  font-size: 1.25rem;
}

.vanrarchitektur{
  animation: scale-up 75s cubic-bezier(0.3, 0.7, 0.1, 1) forwards;
  @supports (mask-image: url('')) or (-webkit-mask-image: url('')) {
    mask-image: url('./../img/vanrarchitektur.svg');
  }
  width: 21.25rem;
  height: 1.625rem;
  font-size: 1.625rem;
}

.x {
  @supports (mask-image: url('')) or (-webkit-mask-image: url('')) {
    mask-image: url('./../img/x.svg');
  }
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
}



@media #{$breakpoint-not-small} {
  .vanrarchitektur {
    width: 45.75rem;
    height: 3.5rem;
    font-size: 3.5rem;
  }
  .x {
    width: 2.15rem;
    height: 2.15rem;
    font-size: 2.15rem;
  }
  .ringvanrittau {
    width: 20rem;
    height: 1.875rem;
    font-size: 1.875rem;
  }
}

.container {
  width: 21.25rem;
}

@media #{$breakpoint-not-small} {
  .container {
    width: 45.75rem;
  }
}

.top {
  padding-top: min(25vh, 256px);
}

$darken-transparency: 0.4;

body {
  background-image:
    url('./../img/background-small.jpg');
  background-size: cover;
  background-position: 50% 100%;
}

body.darken {
  background-image:
    linear-gradient(rgba(0, 0, 0, $darken-transparency), rgba(0, 0, 0, $darken-transparency)),
    url('./../img/background-small.jpg');
}

@media #{$breakpoint-not-small} {
  body {
    background-position: 50% 92%;
    background-image:
      url('./../img/background-medium.jpg');
  }
  body.darken {
    background-image:
      linear-gradient(rgba(0, 0, 0, $darken-transparency), rgba(0, 0, 0, $darken-transparency)),
      url('./../img/background-medium.jpg');
  }
}

@media #{$breakpoint-large} {
  body {
    background-position: 50% 85%;
    background-image:
      url('./../img/background-large.jpg');
  }
  body.darken {
    background-image:
      linear-gradient(rgba(0, 0, 0, $darken-transparency), rgba(0, 0, 0, $darken-transparency)),
      url('./../img/background-large.jpg');
  }
}

@keyframes scale-up {
  from { transform: scale(0.85); }
  to { transform: scale(1.15); }
}

@keyframes scale-down {
  from { transform: scale(1.1); }
  to { transform: scale(0.8); }
}
