
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-size: min(16px, 3.6vw);
  background-color: black;
}

.ir {
  mask-repeat: no-repeat;
  mask-size: contain;
  user-select: none;
  background-color: currentColor;
}

.ringvanrittau{
  mask-image: url('./../img/ringvanrittau.svg');
  width: 13.31rem;
  height: 1.25rem;
}

.vanrarchitektur{
  mask-image: url('./../img/vanrarchitektur.svg');
  width: 21.25rem;
  height: 1.625rem;
}

.x {
  mask-image: url('./../img/x.svg');
  width: 1.25rem;
  height: 1.25rem;
}



@media #{$breakpoint-not-small} {
  .vanrarchitektur {
    width: 45.75rem;
    height: 3.5rem;
  }
  .x {
    width: 2.15rem;
    height: 2.15rem;
  }
  .ringvanrittau {
    width: 20rem;
    height: 1.875rem;
  }
}

.footer {
  width: 21.25rem;
}
.container {
  width: 21.25rem;
}

@media #{$breakpoint-not-small} {
  .footer {
    width: 45.75rem;
  }
  .container {
    width: 45.75rem;
  }
}

.top {
  padding-top: min(25vh, 256px);
}

/*
body {
  background-image: url('./../img/background-small.jpg');
  background-size: calc(max(100%, 768px));
  background-position: center bottom;
}

@media (min-width: 769px) {
  body {
    background-image: url('./../img/background-medium.jpg');
  }
}

@media (min-width: 1201px) {
  body {
    background-image: url('./../img/background-large.jpg');
  }
}
*/
